
Projects/ManagementApp/managementapp/3dposManagaement/.vs/
Projects/ManagementApp/managementapp/3dposManagaement/obj/
Projects/ManagementApp/managementapp/3dposManagaement/bin/

Projects/ManagementApp/managementapp/3dposManagaement.Database/obj/
Projects/ManagementApp/managementapp/3dposManagaement.Database/bin/

Projects/ManagementApp/managementapp/3dposManagaement.Repository/obj/
Projects/ManagementApp/managementapp/3dposManagaement.Repository/bin/

Projects/ManagementApp/managementapp/3dposManagaement.Utility/obj/
Projects/ManagementApp/managementapp/3dposManagaement.Utility/bin/


Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp/.vs/
Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp/obj/
Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp/bin/

Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Database/obj/
Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Database/bin/

Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Repository/obj/
Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Repository/bin/

Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Utility/obj/
Projects/RegistrationApp/registrationapp/3DPOSRegistrationApp.Utility/bin/

CommonEntityModel/obj/
CommonEntityModel/bin/

.vs


