@{
    ViewData["Title"] = "Restaurant Actions Page";

    var restaurantId = ViewBag.RestaurantId;
    var restaurantName = ViewBag.RestaurantName;

    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">

    <h3 class="heading">@ViewBag.RestaurantName</h3>
    <div class="div">
        <br />
        <br />
        <form asp-action="EditUser">
            <a class="btn btn-sm btn-info" style="height:32px; margin-top:-3px;margin-left:0px;width:180px" asp-area="" asp-controller="Resturant" asp-action="RestaurantUserList" asp-route-id=@ViewBag.RestaurantId>
                UserList
            </a>
        </form>
    </div>

</div>


