.statusSwitch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

    .statusSwitch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.statusSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .statusSlider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 20px;
        left: 0px;
        bottom: .6px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .statusSlider {
    background-color: #2196F3;
}

input:focus + .statusSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .statusSlider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.statusSlider.round {
    border-radius: 34px;
}

.statusSlider.round:before {
   border-radius: 50%;
}

.btn-sm {
    margin: 2px;
}

.code-button:focus {
    outline: none;
    text-align: center;
}
